.detail__btn{
    text-decoration: none;
    color: inherit;
    padding: 4px 20px;
    width: 110px;
    text-align: center;
    display: flex;
    gap: 10px;
}

.detail{
    padding-top: 40px;
    width: 84%;
    margin: auto;
    display: grid;
    gap: 50px 40px;
    grid-template-areas: 
    'btn btn'
    'card card'
}

.detail__btn{
    grid-area: btn;
}

.detail__borders{
    display: flex;
    gap: 30px;
}
.detail__border{
    display: flex;
    align-items: center;
    width: auto;
    padding: 0 20px;

}

.deatail__card{
    grid-area: card;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 720px) {
    .deatail__card{
        flex-direction: row;
    }

    .detail__borders{
        margin-left: 30px;
    }

    .detail{
        gap: 60px 40px;
    }
}