.searches{

    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 38px 0;
}

.searches > * {
    margin: auto;
}

@media (min-width: 725px) {
    .searches{
        flex-direction: row;
    }
    .searches > * {
        margin: 0;
    }
}