.info {
    width: 90%;
    margin: auto;
    padding: 16px 14px 31px 14px;
}

.info__text{
    padding-top: 10px;
    line-height: 1.9;
}
.info__text > * span{
    font-weight: 600;
}

.info__title{
    font-size: 1.4rem;
}