.box{
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    border-radius: 8px;
    padding: 0 0 0 20px;
    position: relative;
    
}

.box__search{
    width: 90%;
    height: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 1rem;
}

.box__icon{
    margin-right: 26px;
    cursor: pointer;
}

.box__icon:hover {
    color: var(--Dark-Gray);
}


.center{
    width: 100%;
    margin: auto;
}


@media (max-width: 520px) {
    .box__search {
        font-size: 0.8rem;
    }
}