.country__card{
    border-radius: 8px;
    position: relative;
    max-width: 400px;
}

.country__cta{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    border-bottom: 1px solid var(--Dark-Gray);
    position: absolute;
    right: 6%;
    bottom: 4%;

}
